#red{
    color: red;
}

#blue{
    color:blueviolet;
}

#orange{
    color: orange;
}

#green{
    color: greenyellow;
}

#yellow{
    color: yellow;
}

h2{
  font-weight: 1000;  
}

.color-title{
    font-weight: normal;
}

img{
    width: auto;
}